In [1]:
from socialgene.neo4j.neo4j import GraphDriver # grab the the neo4j connection
from socialgene.config import env_vars
env_vars["NEO4J_URI"] = "bolt://localhost:6687"

In [2]:
with GraphDriver() as db:
    results1 = db.run(
        """
        CALL db.labels() YIELD label
        CALL apoc.cypher.run('MATCH (:`'+label+'`) RETURN count(*) as count',{}) YIELD value
        RETURN label, value.count
        """
    ).to_df()
results1.sort_values("label")

2024-06-25 14:29:56 INFO     Connected to Neo4j database at bolt://localhost:6687                                                          ]8;id=149473;file:///home/chase/Documents/github/kwan_lab/socialgene/sgpy/socialgene/neo4j/neo4j.py\neo4j.py]8;;\:]8;id=801863;file:///home/chase/Documents/github/kwan_lab/socialgene/sgpy/socialgene/neo4j/neo4j.py#61\61]8;;\

               label  value.count
8          amrfinder          630
11         antismash          941
6           assembly         2502
1             goterm        51502
7                hmm        25566
9         hmm_source        25814
4         nucleotide         2502
12        parameters            1
10              pfam        19632
5            protein        40037
14           resfams          123
3              taxid      2588154
15           tigrfam         4488
13  tigrfam_mainrole           19
0       tigrfam_role          116
2    tigrfam_subrole          101

In [3]:
with GraphDriver() as db:
    results1 = db.run(
        """
        CALL db.relationshipTypes() YIELD relationshipType as type
        CALL apoc.cypher.run('MATCH ()-[:`'+type+'`]->() RETURN count(*) as count',{}) YIELD value
        RETURN type as label, value.count
        """
    ).to_df()
results1.sort_values("label")

                   label  value.count
5              ALTERNATE         3646
10             ANNOTATES       521973
3           ASSEMBLES_TO         2502
18                BLASTP      1536861
1                ENCODES        41001
8                 GO_ANN         6387
4                   IS_A        27567
0               IS_TAXON          882
17          MAINROLE_ANN          116
12             MMSEQS_30        23000
19             MMSEQS_50        31427
13             MMSEQS_70        34490
14             MMSEQS_80        36831
15             MMSEQS_90        40037
9   NEGATIVELY_REGULATES         2635
6                PART_OF         6211
11  POSITIVELY_REGULATES         2643
2          PROTEIN_TO_GO          165
7              REGULATES         3034
16              ROLE_ANN         3169
22             SOURCE_DB        25814
20           SUBROLE_ANN          116
21          TAXON_PARENT      2588154

In [ ]:
with GraphDriver() as db:
    results1 = db.run(
        """
            WITH '
                  MATCH p=(:protein)<-[:ANNOTATES]-(:hmm)
                  RETURN p
                '
                AS query
            CALL apoc.export.graphml.query(query, "import/hmm_protein.graphml", {})
            YIELD file, source, format, nodes, relationships, properties, time, rows, batchSize, batches, done, data
            RETURN file, source, format, nodes, relationships, properties, time, rows, batchSize, batches, done, data;
        """
    )